@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  
}

@theme inline {
  --color-primary: #FFFFFF;
  --color-secondary: #2663EB;
  --color-accent: #333333;
  
  --font-family-header: 'poppins', sans-serif;
  --font-family-body: 'kanit', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Custom utility: apply a ~2/3 width starting at 900px */
@layer utilities {
  .w-2\/3-900 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: 900px) {
    .w-2\/3-900 {
      width: 66.666667%;
    }
  }
}

